<%# locals: (account:, budget:) %>
<span id="reconcile_link">
  <% if account.transactions.cleared.any? %>
    <%= button_to t("accounts.transactions.index.reconcile"),
                  budget_account_reconciliation_path(budget, account),
                  class: "rounded-lg bg-slate-100 px-3 py-1 text-sm font-medium text-slate-700",
                  form:  { data: { turbo_confirm: t("accounts.transactions.index.reconcile_confirm") } } %>
  <% end %>
</span>
