<h1><%= t(".title") %></h1>

<%= render "form",
           accounts:     @accounts,
           form:         @form,
           method:       :post,
           submit_label: t(".submit"),
           url:          budget_transfers_path(@budget) %>
