<%# locals: () %>
<%= render "picker",
           controller:  "payee-picker",
           placeholder: t("transactions.form.search_payees") do %>
  <%= tag.template(data: { payee_picker_target: "createPayeeTemplate" }) do %>
    <li
      class="flex items-center gap-3 px-4 py-3 text-base cursor-pointer"
      data-action="click->payee-picker#select"
    >
      <span class="flex items-center justify-center w-6 h-6 rounded-full bg-indigo-100 shrink-0">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="w-3.5 h-3.5 text-indigo-600"
        >
          <path
            d="M8 2a.75.75 0 0 1 .75.75v4.5h4.5a.75.75 0 0 1 0 1.5h-4.5v4.5a.75.75 0 0 1-1.5 0v-4.5h-4.5a.75.75 0 0 1 0-1.5h4.5v-4.5A.75.75 0 0 1 8 2Z"
          />
        </svg>
      </span>

      <span class="text-indigo-600" data-role="label"></span>
    </li>
  <% end %>
<% end %>
