<% content_for :title, t(".title") %>

<div class="flex flex-col min-h-dvh">
  <header
    class="
      sticky top-0 z-10 grid grid-cols-3 items-center whitespace-nowrap border-b
      border-taupe-200 bg-white px-4 pt-safe pb-4
    "
  >
    <div></div>

    <h1 class="text-lg font-semibold justify-self-center"><%= t(".title") %></h1>

    <div class="justify-self-end">
      <%= render "transactions/actions", budget: @budget %>
    </div>
  </header>

  <section class="flex-1 -mt-px">
    <%= render "transactions/list",
               context:                :transactions,
               current_transactions:   @current_transactions,
               empty_message:          t(".empty"),
               scheduled_id:           "account-all-scheduled",
               scheduled_transactions: @scheduled_transactions %>
  </section>

  <%= render "shared/toolbar", budget: @budget %>
</div>
