<div class="flex flex-col min-h-screen">
  <header class="overflow-hidden text-center bg-white">
    <h1 class="p-4 text-lg font-semibold"><%= t(".title") %></h1>
  </header>

  <section class="flex-1">
    <%= render "transactions/list",
               empty_message:        t(".empty"),
               grouped_transactions: @grouped_transactions %>
  </section>

  <%= render "shared/toolbar", budget: @budget %>
</div>
