<div class="flex flex-col min-h-screen">
  <header class="flex items-center justify-between bg-white p-4">
    <h1 class="text-lg font-semibold"><%= t(".title") %></h1>

    <%= render "transactions/actions", budget: @budget %>
  </header>

  <section class="flex-1">
    <%= render "transactions/list",
               empty_message:        t(".empty"),
               grouped_transactions: @grouped_transactions %>
  </section>

  <%= render "shared/toolbar", budget: @budget %>
</div>
