<%= turbo_frame_tag "account_dialog", class: "flex flex-col h-full" do %>
  <header class="relative p-4">
    <h2 id="account_dialog_title" class="text-lg font-semibold text-center"><%= t(".title") %></h2>

    <button
      type="button"
      class="
        absolute top-4 right-4 text-2xl leading-none text-taupe-400 cursor-pointer
        hover:text-taupe-600
      "
      data-action="dialog#close"
      aria-label="<%= t("accounts.dialog.close") %>"
    >
      &times;
    </button>
  </header>

  <%= render "form",
             budget:       @budget,
             form:         @form,
             method:       :post,
             submit_label: t(".submit"),
             url:          budget_accounts_path(@budget) %>
<% end %>
